.git
.github
docs
**/node_modules
frontend/dist
frontend/cypress/screenshots
frontend/cypress/videos
backend/vendor
backend/.env
backend/database/*.sqlite
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/bootstrap/cache/*.php
backend/public/index.html
backend/public/assets
